@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Root config */
:root {
    margin: 0;
    padding: 0;

    font-size: 62.5%;

    --line-color: #4A808C;
    --line-color-nopac: #4a808c80;
    --lighter-green: #092D38;
    --dark-green: #06181C;
    --darker-green-nopac: #06161b80;
    --cyan: #065E7C;
    --red: #ff0000; 
}

body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
}

/* #app config */
#app {
    padding-top: 2rem;
    width: 65vw;
}

/* Header config */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem; 
}

header img#logo {
    height: 30px;
}

div#search {
    grid-area: second;
}

header input#searchbar {
    background-color: var(--lighter-green);
    width: 25vw;
    padding: 1.2rem;
    border-radius: 5px;
    border: none;
}

header button#searchbtn img {
    height: 1.3rem;
}

header button#searchbtn {
    font-family: "Roboto", sans-serif;
    width: fit-content;
    background-color: var(--cyan);
    color: white;
    text-transform: uppercase;
    padding: 1.2rem;
    border-radius: 5px;
    border: none;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Table config */
table {
    margin-inline: .8rem;
    width: 100%;
    border: var(--line-color) 1px solid;
    border-collapse: collapse;
    text-align: left;
}

table thead {
    background-color: var(--lighter-green);
}

table thead th {
    padding: 1.2rem 1.2rem 1.2rem 1.6rem;
}

table tbody tr {
    border-top: var(--line-color) 1px solid;
}

table tbody tr:nth-child(even) {
    background: var(--dark-green);
}

table tbody tr:nth-child(odd) {
    background: var(--darker-green-nopac);
}

table td {
    padding: 1.4rem;
}

table p {
    margin: 0;
    font-weight: bold;
}

table a {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-decoration: none;
    color: #ffffff;
}

td.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

td.user img {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

td.repositories,
td.followers {
    width: 25%;
}

td.remove {
    width: 15%;
}

button.remove {
    font-family: 'Roboto', sans-serif;
    border: none;
    background: none;
    color: #ff0000;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 830px) {
    header {
        display: grid;
        grid-template-areas: "first second";
        justify-content: center;
        text-align: center;
        grid-template-areas: "first" "second";
    }

    div#search {
        padding-top: 1.2rem;
    }
}